body{
  background-color: pink;
}
#espelho{
  width: 300px;
  height: 300px;
position: relative;
}
.contatos{
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}